<section class="options">
  <div class="options__battle-type">
    <div class="options__battle-type__call-to-action">Select battle type: </div>
    <div *ngFor="let item of battleTypes"
         class="options__battle-type__item"
         [class.selected]="item.name===selectedBattleType"
         (click)="setBattleType(item.name)"
         >
      <p class="options__battle-type__item__text">{{item.name}} vs {{item.name}} </p>
      <div class="options__battle-type__item__photo">
        <img src="../../assets/photos/{{item.photo}}.png" alt="battle type photo">
      </div>
    </div>

    <div class="options__rules">
      <div (click)="toggleWinningOptions()"
           class="options__rules__call-to-action">
           Set winning conditions:
          <mat-icon *ngIf="showWinningOptions==null">keyboard_arrow_right</mat-icon>
          <mat-icon *ngIf="showWinningOptions!==null">keyboard_arrow_left</mat-icon>
      </div>

      <div *ngIf="showWinningOptions!==null"
          [class.animateFadeIn]="showWinningOptions"
          [class.animateFadeOut]="!showWinningOptions">
        <ul class="options__rules__list">
          <li *ngFor="let item of winningOptions, let i = index" class="options__rules__item">
            <label class="options__rules__item__label">{{item.name |factor}}</label>
            <mat-checkbox
            class="options__rules__item__checkbox"
            [checked]="item.isApplied===true"
            (change)="handleCheckboxClicks(item, i)"
            >
            </mat-checkbox>
          </li>
        </ul>
      </div>

    </div>
  </div>

</section>
