<div class="battle">

  <section class="battle__intro">
    <div class="battle__intro__container">
      <button mat-button class="battle__intro__container__btn"
        (click)="startBattle()">
        <p class="btn__action">Call reinforcement!</p>
        <mat-icon>record_voice_over</mat-icon>
    </button>
    </div>
  </section>

  <section class="battle__info">
    <p  class="battle__info__text"
        *ngIf="!battleResolved">
        {{battleResults}}
    </p>
  </section>

  <section class="battle__forces">
    <mat-card
      *ngFor="let item of forces"
      class="player"
      [class.winner]="item.isWinner">
      <mat-card-title class="player__info">
        <h2 class="player__info__name">{{item.name}}</h2>

      </mat-card-title>
      <mat-card-content
        *ngIf="selectedBattleType==='species' && forces[0].resources.url"
        class="player__content">
        <p>name: {{item.resources.name}}</p>
        <p>classification: {{item.resources.classification}}</p>
        <p>designation: {{item.resources.designation}}</p>
        <p [class.compared]="comparedFactor===item.resources.average_height">average height: {{item.resources.average_height}}</p>
        <p [class.compared]="comparedFactor===item.resources.average_lifespan">average lifespan: {{item.resources.average_lifespan}}</p>
        <p [class.compared]="comparedFactor===item.resources.films.length">fame: {{item.resources.films.length || ''}}</p>
      </mat-card-content>
      <mat-card-content
        *ngIf="selectedBattleType==='people' && forces[0].resources.url"
        class="player__content">
        <p>name: {{item.resources.name}}</p>
        <p [class.compared]="comparedFactor===item.resources.mass">mass: {{item.resources.mass}}</p>
        <p [class.compared]="comparedFactor===item.resources.height">height: {{item.resources.height}}</p>
        <p [class.compared]="comparedFactor===item.resources.starships.length">combat experience: {{item.resources.starships.length || ''}}</p>
        <p [class.compared]="comparedFactor===item.resources.films.length">fame: {{item.resources.films.length}}</p>
        <p>gender: {{item.resources.gender}}</p>
        <p>hair color: {{item.resources.hair_color}}</p>
      </mat-card-content>

    </mat-card>
  </section>
</div>
